/* 
    Author: Megan Jensen
*/
body{
    font-family: 'Comic Sans MS', cursive;
    font-size: 12pt;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    border: 0%;
    position: relative;
    background-color: #83c7a5;
}

header{
    background-color: #0145ac;
    color: white;
}

header h1{
    margin: 0%;
}

nav{
    background-color: #0145ac;
}

nav ul{
    margin: 0%;
    list-style-type: none;
    text-align: left;
    display: flex;
}
nav ul li{
    flex-grow: 1;
    padding: 1%;
    margin: 1%;
    background-color: white;
    text-align: center;
}

main{
    
    clear: left;
    padding: 1%;
}

main h2{
    margin: 0%;
}

div.Products{
    display: flex;
    flex-flow: row wrap;
    flex-basis: auto;
}

div.individualProduct{
    margin: 1%;
    padding: 1%;
    flex-grow: 1;
    background-color: white;
}

footer{
    background-color: #0145ac;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

footer h3{
    margin: 0%;
}