/* 
    Author: Megan Jensen
*/
body{
    font-family: 'Comic Sans MS', cursive;
    font-size: 12pt;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    border: 0%;
    position: relative;
}

header{
    background-color: lightblue;
}

header h1{
    margin: 0%;
}

nav{
    background-color: aliceblue;
}

nav ul{
    margin: 0%;
    list-style-type: none;
    text-align: left;
    display: flex;
}
nav ul li{
    flex-grow: 1;
    padding: 1%;
    margin: 1%;
    background-color: aqua;
    text-align: center;
}

article{
    background-color: lightgreen;
    clear: left;
    padding: 1%;
}

article h2{
    margin: 0%;
}

div.Products{
    display: flex;
    flex-flow: row wrap;
    flex-basis: auto;
}

div.individualProduct{
    margin: 1%;
    padding: 1%;
    flex-grow: 1;
    background-color: white;
}

footer{
    background-color: lightblue;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

footer h3{
    margin: 0%;
}