<div class="Products">
    {{#each products}}
    <div class="individualProduct">
        <div class="Image">
<<<<<<< Updated upstream
<<<<<<< Updated upstream
            <img src= "docs/images/Card.png" />
=======
            <img src= "/docs/images/Card.png" />
>>>>>>> Stashed changes
=======
            <img src= "/docs/images/Card.png" />
>>>>>>> Stashed changes
        </div>
        </br>
        <div class="Name">
            {{this/Name}}
        </div>
        </br>
        <div class="Price">
            {{this/Price}}
        </div>
    </div> <!-- individual Product -->
    {{/each}}
</div> <!-- Products -->