<div class="Products">
    {{#each products}}
    <div class="individualProduct">
        <div class="Image" >
            <img src= "/docs/images/{{this/Image}}" width="200"/>
        </div>
        </br>
        <div class="Name">
            {{this/Name}}
        </div>
        </br>
        <div class="Price">
            ${{this/Price}}
        </div>
        <button>Add to cart</button>
    </div> <!-- individual Product -->
    {{/each}}
</div> <!-- Products -->