<!DOCTYPE html>
<html>
    <head>
        <!--
        Author: Megan Jensen
        Date: September 2025
        Filename: /MegansSeniorThesisRepo/code/main.html
        Images stored in the /MegansSeniorThesisRepo/img folder
        Files linked to this page will appear in /MegansSeniorThesisRepo/code folder
        
        -->
        <meta charset="utf-8" />
        <meta name="keywords" content="" />
        <link href="/css/styles.css" rel="stylesheet" />
        
        <title>Useful Things</title>
    </head>
    <body>
        <header>
            <h1>Useful Things</h1>
        </header>
        <nav>
            <ul>
                <li><a href="Cards.html">Cards</a></li>
                <li><a href="Clothes.html">Clothes</a></li>
                <li><a href="Sewing.html">Crochet and Knit</a></li>
                <li><a href="Garden.html">Garden</a></li>
                <li><a href="Kitchen.html">Kitchen</a></li>
                <li><a href="Misc.html">Miscellaneous</a></li>
                <li><a href="Baking.html">Personalized Baking</a></li>
            </ul>
        </nav>
        <section>
            <article>
                <h2>All Products</h2>
                {{{body}}}                
            </article>
        </section>
        <aside>

        </aside>
        <footer>
            <h3>Useful Things</h3>
        </footer>
    </body>
</html>