<!DOCTYPE html>
<html>
    <head>
        <!--
        Author: Megan Jensen
        Date: September 2025
        Filename: /MegansSeniorThesisRepo/code/main.handlebars
        Images stored in the /MegansSeniorThesisRepo/code/public/docs/images folder
        Files linked to this page will appear in /MegansSeniorThesisRepo/code folder
        
        -->
        <meta charset="utf-8" />
        <meta name="keywords" content="" />
        <link href="/css/styles.css" rel="stylesheet" />
        
        <title>Useful Things</title>
    </head>
    <body>
        <header>
            <h1>Useful Things</h1>
            <button>View cart</button>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Cards">Cards</a></li>
                <li><a href="/Clothes">Clothes</a></li>
                <li><a href="/Sewing">Crochet and Knit</a></li>
                <li><a href="/Garden">Garden</a></li>
                <li><a href="/Kitchen">Kitchen</a></li>
                <li><a href="/Misc">Miscellaneous</a></li>
                <li><a href="/Baking">Personalized Baking</a></li>
            </ul>
        </nav>
        <main>
            <h2>Products</h2>
            {{{body}}}
        </main>
        <footer>
            <h3>Useful Things</h3>
        </footer>
    </body>
</html>